.DS_store
.ipynb_checkpoints
data/
models/
./
mushroom_classification_data_cleaned/
mushroom_classification_data_cleaned.zip
__MACOSX/
mushroom-classification-exposition-v1.ipynb
mushroom-classification-reasearch-notebook.ipynb
